body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../img/air-travel html achtergrong.jpeg");
}

header[role="banner"], #logo-main {
    display: block;
    margin: 20px auto;
}

nav {
    background-color: #dcdcdc;
    border: none;
    width: 100%;
    text-align: center;
    font-family: Calibri, serif;
}

nav li {
    display: inline-flex;
    float: none;
}
nav a {
    text-decoration: none;
    margin: 7px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.5em;
    border-radius: 0;
}

nav a:link , nav a:visited {
    color: #000000;
}

nav a:hover{
    color: #505050;
}

img{
    display: block;;
    width: 20%;
    padding: 2%;
}

footer{
    background-color: #dcdcdc;
}

h1{
    text-align: center;
    margin-top: 5%;
}
