main {
    padding-right: 10px;
    padding-bottom: 45px;
    padding-top: 25px;

}

* {
    padding-top: 0;
    margin: 0;
    box-sizing: border-box;
}

Body {
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

header[role="banner"], #logo-main {
    display: block;
    margin: auto;
}

.footer-container {
    width: 100%;
    background-color: #a03538;
    padding: 0.7% 0 0.7% 0;
}

.footer {
    width: 100%;
    height: 10%;
    background-color: #a03538;
    color: #e7e7e7;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*margin: 5% 20%;*/
    font-family: Arial, serif;
    font-size: x-small;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 3%;
}

.footer-heading h2 {
    margin-bottom: 10%;
}

.footer-heading a {
    color: #e7e7e7;
    text-decoration: none;
    margin-bottom: 5%;
}

.footer-heading a:hover {
    color: #262424;
    transition: 0.2s ease-out;
}

.logInbox {
    width: 300px;
    height: 400px;
    padding: 60px 30px;
    color: #FFFFFF;
    max-width: 700px;
    justify-content: center;
    border-radius: 5px;
    border-style: solid;
    border-color: #a03538;
    box-sizing: border-box;
    background: #ece5e5;
    position: relative;

}

.photo {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border-style: solid;
    border-color: #a03538;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-family: Arial, serif;
    color: #000000;
}

.logInbox input {
    width: 100%;
    margin-bottom: 20px;
    color: #000000;
}

.logInbox input[type="email"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
}

.logInbox .user-details {
    font-family: Arial, serif;
    font-size: 14px;
    justify-content: space-between;
    color: #000000;
}

.logInbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #a03538;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 2px;
}

.logInbox input[type="submit"]:hover {
    cursor: pointer;
    background: #FFFFFF;
    color: #a03538;
}

.logInbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    font-family: Arial, serif;
}

.logInbox a:hover {
    color: #a03538;
}

.logInbox p {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    font-size: 12px;
    color: #000000;
}

