main{
    background-color: transparent;
    padding-left:80px;
    padding-bottom:30px;
    padding-right:30px;
    align-items: stretch;
}
body {
    background-color: #e7e7e7;
    display: flex;
    font-family: Arial, sans-serif;
    flex-direction: column;
    /*background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../img/air-travel html achtergrong.jpeg");*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
}


section.info{
    background-color: #fafafa;
    font-size: 19px;
    flex-grow: 1;
    padding: 5px;
    margin: 5px;
}

section.questionAnswer{
    background-color: #fafafa;
    font-size: 17px;
    flex-grow: 1;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}

article {
    background-color: #fafafa;
    border: #565656 1px solid;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    max-width: 950px;
}

h1{
    font-size: 1.5em;
}

header[role="banner"], #logo-main {
    display: block;
    margin: auto;
}

.navbar-default {
    background-color: #a03538;
    border: none;
    padding: 5px;
    text-align: center;
    font-family: Calibri, serif;
    border-radius: 3px;
}

nav li {
    display: inline-flex;
    float: none;
}
nav a {
    text-decoration: none;
    margin: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.8em;
    border-radius: 0;
}

nav a:link , nav a:visited {
    color: #e7e7e7;
}

nav a:hover{
    color: #262424;
}

select {
    width: 40%;
    padding: 8px 20px;
    border: 1px #565656;
    border-radius: 4px;
    background-color: #dcdcdc;
    cursor: pointer;
    font-size: 14px;
}

input[type="button"]{
    color: #000000;
    background: #dcdcdc;
    width: 10%;
    padding: 10px;
    border: #262424 1px;
    font-size: 15px;
    border-radius: 2px;
}

input:hover{
    color: #505050;
    background-color: #bababa;
}


.footer-container {
    background-color: #a03538;
    padding: 0.1% 0 1% 0;
}

.footer {
    width: 80%;
    height: 12%;
    background-color: #a03538;
    color: #e7e7e7;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin: 2% 13%;
    font-family: Arial, serif;
    font-size: x-small;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 3%;
}

.footer-heading h2 {
    margin-bottom: 10%;
}

.footer-heading a {
    color: #e7e7e7;
    text-decoration: none;
    margin-bottom: 10%;
}

.footer-heading a:hover {
    color: #262424;
    transition: 0.2s ease-out;
}
